body{background-image: url(assets/bg.png);}

.main{
   
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%
  }

.muschel{position: absolute;
         bottom:-17px;
        left:-60px;}
         
.pingu{position: absolute;
       bottom: 23px;
       right: -60px;}

.text{position: absolute;
      top:-50px;
      padding:50px;}     

h1{color:white;
  padding:20px;
  padding-bottom: 0px;
  font-size: 30px;}

p{color:white;
  }
