body {
    background: #d7d6d7;
    font-family: helvetica, sans-serif;
    height: 100%;
}

h1 {
    color: #333233;
    font-size: 50px;
    text-align: left;
    font-family: helvetica, sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    margin-left: 280px;
}

h2 {
    color: #aaa9aa;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    margin: 20px;
    margin-left: 360px;
}

#input {
    margin-left: 120px;
    margin-bottom: 2px;
    width: 439px;
    height: 70px;
    font-size: 20px;
    background-color: #fff;
    color: #000;
    border: 0;
    outline: 0;
    padding-left: 90px;
}

::placeholder {
    color: #999899;
    opacity: 1;
}

div {
    background-color: #fff;
    box-shadow: #000;
    margin-left: 120px;
    margin-bottom: 2px;
    color: #000;
    width: 530px;
    height: 70px;
    box-shadow: 5px 5px 5px #aaa9aa;
}

.task-text {
    position: absolute;
    margin-left: 6px;
    margin-top: 24px;
    font-size: 20px;
}

.isHidden {
    display: none !important;
}

.fa-circle {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 40px;
    color: transparent !important;
    border: 1px solid #d7d6d7;
    border-radius: 50%;
}

.fa-circle:hover {
    cursor: pointer;
}

.fa-check {
    position: absolute;
    margin-top: 25px;
    margin-left: -50px;
    font-size: 20px;
    color: #000
}

.fa-check:hover {
    cursor: pointer;
}

.fa-trash-alt {
    margin-left: 400px;
    margin-top: -10px;
    opacity: 50%;
    font-size: 30px;
    color: #000;
}

.fa-trash-alt:hover {
    cursor: pointer;
    opacity: 100%;
}